<h2>Log in</h2>
<div class="pos-r container">
  <div class="row w-100 centering">
    <div class="col-md-4 with-image d-none d-md-block">
    </div>
    <div class="col-12 col-md-7">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email", autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", id: "password", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
