<h1>Items#edit</h1>
<h2>Admin <%= current_user.first_name %></h2>

<div class="form-group">
	<%= form_with model: @item, data: {"parsely-validate": ''}, local: true do |f| %>
		<%= f.text_field :name, placeholder: 'Name', class: "form-control" %>
		<%= f.number_field :price, placeholder: 'Price', class: "form-control" %>
		<div class="custom-file">
			<%= f.file_field :image, class: "custom-file-input" %>
			<%= f.label :image, 'Upload Image', class: 'custom-file-label' %>
		</div>
		<%= f.text_field :description, placeholder: 'Description', class: "form-control" %>
		<%= f.submit class: "btn btn-primary" %>
	<% end %>	
</div>