<!DOCTYPE html>
<html>
  <head>
    <title>BlueLily</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p> 
    <% end %>
    <% if params[:controller] == "items" && params[:action] == "index" %>
      <div class="m-header">
        <h1 class="main-header">
          <span>b</span>
          <span>l</span>
          <span>u</span>
          <span>e</span>
          <span>l</span>
          <span>i</span>
          <span>l</span>
          <span>l</span>
          <span>y</span>
          <span></span>
          <span>c</span>
          <span>a</span>
          <span>n</span>
          <span>d</span>
          <span>l</span>
          <span>e</span>
          <span>s</span>
        </h1>
      </div>
     <div class="img" id="cover-image">
       <%= image_tag src="cover.jpg", class: "img-fluid" %>
     </div>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to items_path, class: "nav-item nav-link" do %>
        <i class="material-icons">home</i>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
            <%= link_to "Favorites", user_items_path, class: "nav-item nav-link" %>
            <% if !logged_in?(:root_admin) %>
              <div class="cart-wrapper">
                <div class="count"><%= @cart.items.count %></div>
                <%= link_to carts_path, class: 'nav-item nav-link' do %>
                  <i class="material-icons">shopping_cart</i>
                <% end %>
              </div>
            <% end %>
            <% if logged_in?(:root_admin) %>
              <%= link_to "Add Item(s)", new_item_path , class: "nav-item nav-link" %>
              <a class="nav-item nav-link" href="#">Create Sales Page</a>
            <% end %>
          <% else %>
            <%= link_to "Sign-up", new_user_registration_path, class: "nav-item nav-link" %>
            <%= link_to "Login", new_user_session_path, class: "nav-item nav-link"  %>
          <% end %> 
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>


